@font-face { 
    font-family: "OswaldRegular";
    src: url("../fonts/OswaldRegular/OswaldRegular.eot");
    src: url("../fonts/OswaldRegular/OswaldRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OswaldRegular/OswaldRegular.woff") format("woff"),
    url("../fonts/OswaldRegular/OswaldRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    background: white;
    font-family: "OswaldRegular", sans-serif;
    
}

#main {
    overflow: hidden;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
}
#image {
    display:block;
    height: 160px;
    width: 240px;
    margin: 250px auto 10px auto;

    
}

.arrow-7 {
    margin: 370px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #253b6d;;
    border-right: 5px solid #253b6d;;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}

#layers_title {
    font-weight: 700;
    font-size: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -40px auto 10px auto;
    color: #253b6d;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.5);
    position: relative;
}

#layers_title .new { opacity: 0; }
#layers_title { padding:100px; width:350px; display:flex; }
#layers_title .div_opacity {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

#example{ 
    margin: 10px auto 10px auto;
}

#right_text{
    top: 130px;
    font-size: 60px;
    color: #253b6d;;
    z-index: 1;
    position: relative;
    left: 700px;
    font-weight: 600;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
}

#left_text{
    top: 150px;
    margin-top: 20px;
    font-size: 60px;
    color: #253b6d;;
    z-index: 1;
    position: relative;
    right: 700px;
    font-weight: 600;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
}
.circle {
    border-radius: 50%;
}
#scene1 {
    position: absolute;
    left: 110.63px;
    top: 1450.57px;

}

#scene1 .circle {
    width: 100.88px;
    height: 100.88px;
    background: rgb(37,59,109)
    
}

#scene2 {
    position: absolute;
    right: -200.63px;
    top: 1820.57px;

}

#scene2 .circle {
    width: 350.88px;
    height: 350.88px;
    background: rgba(105, 51, 220, 0.11);
}
#scene3 {
    position: absolute;
    left: -410.63px;
    top: 1100.57px;

}

#scene3 .circle {
    width: 550.88px;
    height: 550.88px;
    background: rgba(105, 51, 220, 0.11);
    
}
#scene4 {
    position: absolute;
    left: 140.63px;
    top: 780.57px;

}

#scene4 .circle {
    width: 240.88px;
    height: 240.88px;
    
}
#scene5 {
    position: absolute;
    right: 110.63px;
    top: 1250.57px;

}

#scene5 .circle {
    width: 200.88px;
    height: 200.88px;
    background: rgb(37,59,109)
}
#scene6 {
    position: absolute;
    left: 610.63px;
    top: 1600.57px;

}

#scene6 .circle {
    width: 120.88px;
    height: 120.88px;
    background: rgb(37,59,109)
}
#scene7 {
    position: absolute;
    right: -210.63px;
    top: 1150.57px;
}

#scene7 .circle {
    width: 713.88px;
    height: 722.88px;
    background: rgba(175, 164, 197, 0.178);
}
#scene8 {
    position: absolute;
    left: 110.63px;
    top: 1970.57px;

}

#scene8 .circle {
    width: 110.88px;
    height: 110.88px;
    background: #253b6d;
}
#scene9 {
    position: absolute;
    right: 210.63px;
    top: 2030.57px;

}

#scene9 .circle {
    width: 180.88px;
    height: 180.88px;
    background: rgb(37,59,109)
}
#scene10 {
    position: absolute;
    left: -70.63px;
    top: 1770.57px;

}

#scene10 .circle {
    width: 313.88px;
    height: 322.88px;
    background: rgba(175, 164, 197, 0.178);
}

#last_text {
    z-index: 1;
    position: relative;
    top: 100px;
    font-weight: 600;
    font-size: 70px;
    color: #253b6d;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2)
}

.element-animation {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }

  .animated-word {
    opacity: 0;
    transform: translateY(20px);
    top:-720px;
    font-weight: 900;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    color: #253b6d;
    cursor: pointer;
    max-width: 100px; 
    width: 100%; 
    outline: 5px solid;
    outline-color: #253b6d;
    outline-offset: 28px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
    margin: 200px auto 10px auto;
    z-index: 1;
    position: relative;
  }
  .animated-word.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }
  
  .animated-word:hover {
    color: rgb(211,94,53);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
  }

  #image2 {

    margin: 500px auto 0 auto;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    position: hidden;
    z-index: 2;

  }

